#reviews_container {
    position: fixed;
    margin: 0;
    top: 30%;
    left: -20%;
    width: 20%;
    max-height: 68%;
    z-index: 5;
    border: solid 3px #151719;
    overflow: scroll;
}
#reviews_container.active_reviews {
    left: 1%;
    transition: all 500ms linear;
}
#review-list-top {
    height: auto;
}
#create_review_btn {
    font-size: 20px;
    float: right;
    cursor: pointer;
}

.modal_btn {
    background-color : black;
    margin : 0.5em;
}

.review-post-btn {
    width: 100%;
    background-color: black;
}

#review-list-title {
    font-size: 20px;
    display: inline-block;
    width: 73%;
}