.write-btn {
    width: 50%;
    background-color: black;
    border-radius: 5px;
}

.review-post-btn:hover,
.review-post-btn:focus {
    background-color: #888888;
}

.write-textarea {
    width:100%;
    height:55%;
}

.write-header {
    border-bottom: lightgrey solid 1px;
    margin-bottom: 30px;
    padding: 10px 5px;

}

.write-btn:hover {
    background-color: #888888;
}

textarea {resize: none}